<div id="main">
  <div id="left">
    <div class="row">
      <br/>
      <div class="collaspe" id="collapsePanel">

        <%= search_form_for @search, url: search_path do |f| %>

          <div class="row">
            <div class="col-md-8">
              <label>Price range:</label>
            </div>
            <div class="col-md-2">
              <label>Min Price:</label>
              <%= f.text_field :price_gteq, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <label>Max Price:</label>
              <%= f.text_field :price_lteq, class: "form-control" %>
            </div>
          </div>
          <hr/>

          <div class="row">
            <div class="col-md-6">
              <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
            </div>
            <div class="col-md-6">
              <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: "End Date", class: "form-control datepicker" %>
            </div>
          </div>
          <hr/>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Entire" %> Entire Room
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Private" %> Private
            </div>
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Shared" %> Shared
            </div>
          </div>
          <hr/>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group select">
                <label>Accomodate</label>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
  <div id="right">

  </div>
</div>
